@import "tailwindcss";

@theme {
  --color-brand-light: #A7D52F;
  --color-brand: #A7D52F;
  --color-brand-dark: #8CB824;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
